/* Styles go here */

#info-block section {
    margin-top: 25;
    border: 5px dashed black;
    width: 100%;
    height: 900;
}

.file-marker > div {
    padding: 0 3px;
    height: 100px;
    margin-top: -25px;
    
}

.box-title {
    background: white none repeat scroll 0 0;
    display: inline-block;
    padding: 0 2px;
    margin-left: 25px;
    font-size: 48;
}