

/* body {
    background-color: black;
} */

.title-plate {
    border: 5px dashed black;
    height: 25%;
    width: 25%;
    margin: 25 0 0 0;
}

.title-plate:hover {
    border: 5px dashed black;
    height: 25%;
    width: 50%;
    margin: 25 0 0 0;
}

.title-marker{
    background-color: white;
    margin: -10px 0 0 0;
    padding: 0px 0 0 -10;
    width: 150px;
    text-align: center;
}

.icon {
    margin-top: 25px;
}